@import './variables.scss';

.header {
  width: 100%;
  height: 200px;
  background-color: saturate($primaryColor, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerHeader {
  display: flex;
  background-color: inherit;
  align-items: center;

  & p {
    background-color: inherit;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.logoTitleHeader {
  text-shadow: 0 5px $bgColor;
  font-size: 8em;
  background-color: inherit;
}

.avatar {
  border-radius: 50%;
  border: 1px solid darken($primaryColor, 25);
  width: 42px;
  height: 42px;
  margin-left: 10px;
}
