* {
  margin: 0;
  padding: 0;
}
.notClicked {
  margin: 3px;
  padding: 5px;
}

.correctAnswer:disabled {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  color: rgb(0, 0, 0);
  margin: 3px;
  padding: 5px;
}

.wrongAnswer:disabled {
  background-color: rgb(255, 0, 0);
  border: 3px solid rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  margin: 3px;
  padding: 5px;
}