* {
  margin: 0;
  padding: 0;
}
.nextButtonNotShown {
  display: none;
}

.notClicked {
  margin: 3px;
  padding: 5px;
}

.correctAnswer:disabled {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  color: black;
  margin: 3px;
  padding: 5px;
}

.wrongAnswer:disabled {
  background-color: red;
  border: 3px solid red;
  color: white;
  margin: 3px;
  padding: 5px;
}
